@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3543&q=80");
  background-repeat: no-repeat;
  background-position: center;
}